.inner-card {
  height: 20px;
  background-color: #eee;
}

.squeleton {
  background-color: #eee !important;
  color: #eee !important;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.9;
  }
}
